<div class="subdiv" style="width=100%;">
    <div [hidden]="!serviceAvailable" class="containerParent">
        <div class="divTop">
            <div class="divPlant" [ngClass]="getDivClassName('divPlant')"></div>
            <div class="divTitle" [ngClass]="getDivClassName('divTitle')"></div>
            <div class="divStation" [ngClass]="getDivClassName('divStation')"></div>
        </div>
        <div class="middle">
            <div class="middleContainer">
                <div class="middleTop" [ngClass]="getDivClassName('middleTop')">
                    <div class="centerMiddle">
                        <div class="row">
                            <div [ngClass]="getDivClassName('divTimeFormat')" style="width:25%;margin-left:10px;">
                                <div class="divState" [ngClass]="getDivClassName('divState')" style="width:100%;height:33%;"></div>
                                <div class="divDate" [ngClass]="getDivClassName('divDate')" style="width:100%;height:33%;"></div>
                                <div class="divTime" [ngClass]="getDivClassName('divTime')" style="width:100%;height:33%;"></div>
                            </div>
                            <div [ngClass]="getDivClassName('divDelta')" style="width:50%;">
                                <div class="divCircle" [ngClass]="getDivClassName('divCircle')">
                                    <div class="circleDelta" [ngClass]="getDivClassName('circleDelta')" [ngStyle]="{'background-image': (getSmilyColor())}">
                                        <div class="containerDelta" [ngClass]="getDivClassName('containerDelta')"></div>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="getDivClassName('divTypeFormat')" style="width:25%;margin-right:10px;">
                                <div class="divType" [ngClass]="getDivClassName('divType')"></div>
                                <div class="divTypeNumber" [ngClass]="getDivClassName('divTypeNumber')"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="middleBottom">
                    <div style="height:100%" class="col-xs-4">
                    </div>
                    <div style="height:100%" class="col-xs-4"><img class="imgDiv" src="{{imagePath}}" /></div>
                    <div style="height:100%" class="col-xs-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <spinner-view [hidden]="!serviceLoading"></spinner-view>
    <service-unavailable [componentID]="componentID" [hidden]="!serviceUnavailable"></service-unavailable>
</div>